<%= render "shared/header"%>

<main>
  <div class="album py-5 bg-light">
    <div class="container",id="title">
      <h2>〜みんなの酒メモ〜</h2>
    </div><%# /id:title %>
    <div class="container ",id="lists">
      <ul class="d-flex">
        <% @sakes.reverse_each do |sake| %>
            <!--card内枠-->
            <li class="card shadow-sm py-3  m-2 list-group-item " style="width: 18rem;"> 
              <!--card上部-->
              <%if sake.image.attached?%>
                <%= image_tag sake.image, class:'card-img-top h-15 object-fit-cover'%>
              <%else%>
                <%= image_tag 'no-image.png', class: 'card-img-top h-15 object-fit-cover'%> 
              <%end%>
              <!--/card上部-->
              <!--card下部-->
              <div class="container">
                <p class="card-text">
                  <h3><%= sake.name %></h3>
                </p>
                <p class="font-s">
                    　　種類:<%= sake.category %><br>
                    総合評価:<%= sake.total.name %>
                    <div class="text-right"><%=link_to sake.user.nickname,users_show_path(sake.user_id),class:"text-body"%></div>
                </p>

                <div class="btn-group d-flex justify-content-between">
                  <%= link_to '詳細', sake_path(sake.id), class: "btn btn-sm btn-outline-secondary" %>
                  <%unless Favorite.exists?(user_id:current_user.id,sake_id:sake.id) %>
                    <%= link_to '追加',sake_favorites_path(sake),method: :post, class: "btn" %>
                  <%else%>
                    <%= link_to '削除', sake_favorites_path(sake),method: :delete, class: "btn"%>
                  <% end %>
                </div>
              </div>
              <!--/card下部-->
            </li>
            <!--/card内枠-->
        <%end%>
      </ul>
    </div><!--id:lists-->
  </div>　<!-- /album py-5 bg-light -->
</main>