<%= render "shared/header"%>
<main>
  <div class="album py-5 bg-light">
    <div class="container",id="title">
      <h2>〜みんなの酒メモ〜</h2>
    </div><%# /id:title %>
    <div class="container ",id="lists">
      <div class="d-flex flex-wrap ">
        <% @sakes.reverse_each do |sake| %>
            <!--card内枠-->
            <li class="col-3 shadow-sm py-3 my-1 list-group-item "> 
              <!--card上部-->
              <%if sake.image.attached?%>
                <%=link_to(sake_path(sake.id))do%>
                  <%= image_tag sake.image, class:'card-img-top h-13 object-fit-cover'%>
                <%end%>
              <%else%>
                <%=link_to(sake_path(sake.id))do%>
                  <%= image_tag 'no-image.png', class: 'card-img-top h-13 object-fit-cover'%> 
                <%end%>
              <%end%>
              <!--/card上部-->
              <!--card下部-->
              <div class="container">
                <p class="card-text">
                  <h3><%= sake.name %></h3>
                </p>
                <p class="font-s">
                    　　種類:<%= sake.category %><br>
                    総合評価:<%= sake.total.name %>
                </p>

                <div class="btn-group d-flex justify-content-between h-3">
                  <%=link_to sake.user.nickname,"/users/#{sake.user_id}",class:"col-9 text-body"%><!--ユーザー名-->
                  <%if user_signed_in? && current_user.id != sake.user_id %>
                    <%unless Favorite.exists?(user_id:current_user.id,sake_id:sake.id) %>
                      <%= link_to '♡',sake_favorites_path(sake),method: :post, class: "btn font-xl text-danger text-right " %><!--いいねボタンON-->
                    <%else%>
                      <%= link_to '❤️', sake_favorites_path(sake),method: :delete, class: "btn font-xl text-right"%><!--いいねボタンOFF-->
                    <% end %>
                  <%end%>
                </div>
              </div>
              <!--/card下部-->
            </li>
            <!--/card内枠-->
        <%end%>
      </div>
        <%= paginate @sakes%>
    </div><!--id:lists-->
  </div>　<!-- /album py-5 bg-light -->
</main>