<%= render "shared/header"%>
<main>
  <div class="album py-5 bg-light">
    <div class="container d-flex justify-content-between",id="title">
      <h2>〜みんなの酒メモ〜</h2>
      <%# 検索バー %>
        <%= search_form_for @q, url: sakes_search_path,class:"my-auto text-body" do |f| %>
          <%= sort_link(@q, :created_at, "登録日")%>
          <%= sort_link(@q, :name, "名前:")%>
          <%= f.collection_select :name_cont, @name, :name, :name, include_blank: '指定なし'%>
          <%= sort_link(@q, :category, "種類:")%>
          <%= f.collection_select :category_eq, @category, :category, :category, include_blank: '指定なし'%>
          <%= sort_link(@q, :total_id, "評価:")%>
          <%= f.collection_select :total_id_eq, Total.all, :id, :name, include_blank: '指定なし'%>
          <%= f.submit "検索" %>
        <% end %>
      <%# /検索バー %>
    </div><%# /id:title %>
    <div class="container ",id="lists">
      <div class="d-flex flex-wrap">
        <% @sakes.each do |sake| %>
            <!--card内枠-->
            <li class="col-3 shadow-sm my-1 list-group-item "> 
              <!--card上部-->
              <%if sake.image.attached?%>
                <%=link_to(sake_path(sake.id))do%>
                  <%= image_tag sake.image, size:'200x200',class:'card-img-top object-fit-cover'%>
                <%end%>
              <%else%>
                <%=link_to(sake_path(sake.id))do%>
                  <%= image_tag 'no-image.png', size:'200x200', class: 'card-img-top object-fit-cover'%> 
                <%end%>
              <%end%>
              <!--/card上部-->
              <!--card下部-->
              <div class="container">
                <p class="card-text">
                  <%=link_to(sake_path(sake.id),class:"text-body")do%>
                    <h3><%= sake.name %></h3>
                  <%end%>
                </p>
                <p class="font-s">
                    　　種類:<%= sake.category %><br>
                    総合評価:<%= sake.total.name %>
                </p>

                <div class="btn-group d-flex justify-content-between h-3">
                  <%=link_to sake.user.nickname,"/users/#{sake.user_id}",class:"col-7 text-body"%><!--ユーザー名-->
                  <%if user_signed_in? && current_user.id != sake.user_id %>
                    <%unless Favorite.exists?(user_id:current_user.id,sake_id:sake.id) %>
                      <%= link_to "♡ #{sake.favorites.length}",sake_favorites_path(sake),method: :post, class: "btn font-xl text-danger text-right " %><!--いいねボタンON-->
                    <%else%>
                      <%= link_to "❤️ #{sake.favorites.length}", sake_favorites_path(sake),method: :delete, class: "btn font-xl text-danger text-right"%><!--いいねボタンOFF-->
                    <% end %>
                  <%else%>
                    <div class="font-xl text-danger text-right">❤️ <%=sake.favorites.length%></div>
                  <%end%>
                </div>
              </div>
              <!--/card下部-->
            </li>
            <!--/card内枠-->
        <%end%>
      </div>
         <div class="d-flex justify-content-center"><%= paginate @sakes%></div><!--ページ切り替えボタン-->
    </div><!--id:lists-->

    <%# いいねランキング表示 %>
    <div class="container">
      <h2>〜いいねランキング〜</h2>
    </div>
    <div class="container d-flex scroll-x",id="lists">
      <%@sake_rank.each.with_index(1) do|sake,i|%>
        <li class="col-3 shadow-sm my-1 list-group-item "> 
          <!--card上部-->
          <%if sake.image.attached?%>
            <%=link_to(sake_path(sake.id))do%>
              <%= image_tag sake.image, size:'200x200',class:'card-img-top object-fit-cover'%>
            <%end%>
          <%else%>
            <%=link_to(sake_path(sake.id))do%>
              <%= image_tag 'no-image.png', size:'200x200', class: 'card-img-top object-fit-cover'%> 
            <%end%>
          <%end%>
          <div class="d-flex justify-content-between">
            <%=link_to(sake_path(sake.id),class:"text-body")do%>
               <% if i == 1%>
                <div>🥇第<%=i%>位</div>
              <%elsif i == 2%>
                <div>🥈第<%=i%>位</div>
              <%elsif i == 3%>
                <div>🥉第<%=i%>位</div>
              <%else%>
                <div>第<%=i%>位</div>
              <%end%>
              <h3 class="my-auto"><%= sake.name %></h3>
            <%end%>
            <div class="d-flex">
              <%if user_signed_in? && current_user.id != sake.user_id %>
                <%unless Favorite.exists?(user_id:current_user.id,sake_id:sake.id) %>
                  <%= link_to "♡ #{sake.favorites.length}",sake_favorites_path(sake),method: :post, class: "btn font-xl text-danger text-right mt-3" %><!--いいねボタンON-->
                <%else%>
                  <%= link_to "❤️ #{sake.favorites.length}", sake_favorites_path(sake),method: :delete, class: "btn font-xl text-danger mt-3"%><!--いいねボタンOFF-->
                <% end %>
              <%end%>
            </div>
          </div>
        </li>
      <%end%>
    </div>
    <%# いいねランキング表示 %>

     <%# ユーザーランキング表示 %>
    <div class="container mt-5">
      <h2>〜投稿数ランキング〜</h2>
    </div>
    <div class="container d-flex scroll-x",id="lists">
      <%@user_rank.each.with_index(1) do|user,i|%>
        <li class="col-3 shadow-sm py-3 my-1 list-group-item "> 
          <%=link_to(user_path(user.id),class:"text-body")do%>
            <% if i == 1%>
                <div>🥇第<%=i%>位</div>
              <%elsif i == 2%>
                <div>🥈第<%=i%>位</div>
              <%elsif i == 3%>
                <div>🥉第<%=i%>位</div>
              <%else%>
                <div>第<%=i%>位</div>
              <%end%>
            <h3 class="my-auto"><%= user.nickname %></h3>
            投稿:<%=user.sakes.length%>
          <%end%>
        </li>
      <%end%>  
    </div>
    <%# いいねランキング表示 %>


  </div><!-- /album py-5 bg-light -->
</main>