<%= render "shared/header"%>

<main>
  <div class="album py-5 bg-light">
    <div class="container",id="title">
      <h2>〜みんなの酒メモ〜</h2>
    </div><%# /id:title %>
    <div class="container",id="lists">
      <ul class="list-group">
        <% @sakes.reverse_each do |sake| %>
          <li class="col-md-4 list-group-item">
            <!--card内枠-->
            <div class="card shadow-sm py-3"> 
              <!--card上部-->
              <%if sake.image.attached?%>
                <%= image_tag sake.image, class: 'card-img-top image'%>
              <%else%>
                <%= image_tag 'no-image.png', class: 'card-img-top image'%> 
              <%end%>
              <!--/card上部-->
              <!--card下部-->
              <div class="container">
                <p class="card-text">
                  <h3><%= sake.name %></h3>
                </p>
                <p class="font-s">
                    　　種類:<%= sake.category %><br>
                    総合評価:<%= sake.total.name %>
                    <div class="text-right"><%=link_to sake.user.nickname,users_show_path(sake.user_id),class:"text-body"%></div>
                </p>

                <div class="btn-group d-flex justify-content-between">
                  <%= link_to '詳細', sake_path(sake.id), class: "btn btn-sm btn-outline-secondary" %>
                  <% if sake.user_id == current_user.id %>
                    <%= link_to '編集', edit_sake_path(sake.id), class: "btn btn-sm btn-outline-secondary" %>
                    <%= link_to '削除', sake_path(sake.id),method: :delete, class: "btn btn-sm btn-outline-secondary"%>
                  <% end %>
                </div>
              </div>
              <!--/card下部-->
            </div>
            <!--/card内枠-->
          </li>
        <%end%>
      </ul>
    </div><!--id:lists-->
  </div>　<!-- /album py-5 bg-light -->
</main>