<%= render "shared/bar"%>


<div class="container">
  <h1 class="my-4">新しい酒を見つけた！</h1>
  <%# エラーメッセージの表示 %>
  <% if @sake.errors.any? %>
    <div class="error-alert">
      <ul>
        <% @sake.errors.full_messages.each do |message| %>
        <li class='error-message'><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%# /エラーメッセージの表示 %>
  <div class="container">
    <%= form_with model: @sake do |f| %>

    <div class="container mb-3">
      <label class="form-colum w-25">お酒の名前</label>
      <%= f.text_field :name ,class:"form-control w-50",rows:"1" ,maxlength:"40"%>
    </div>
    <div class="container mb-3">
      <label class="form-colum w-100">お酒の画像</label>
      <%= f.file_field :image, id:"sake-image", class:"btn-light" %>
    </div>
    <div class="container mb-3">
      <label class="form-colum w-25">感想</label>
      <%= f.text_area :impression, class:"form-control" , id:"sake-info" , placeholder:"飲んだ印象やこの酒に合う食事など",rows:"7" ,maxlength:"1000"%>
    </div>
    <div class="container mb-3">
      <label class="form-colum w-25">カテゴリー</label>
      <%= f.text_field :category ,class:"form-control w-25",rows:"1" ,placeholder:"純米吟醸酒",maxlength:"40"%>
    </div>
    <div class="container mb-3">
      <label class="form-colum w-25">飲んだ/購入した場所</label>
      <%= f.text_field :place ,class:"form-control w-50",rows:"1"%>
    </div>
    <div class="container mb-3">
      <label class="form-colum w-100">テイスト</label>
      <%= f.collection_select(:taste_id, Taste.all, :id, :name, {}, {class:"form-control w-25", id:"sake-taste"}) %>
    </div>
    <div class="container mb-3">
      <label class="form-colum w-100">酸味</label>
      <%= f.collection_select(:sourness_id, Sourness.all, :id, :name, {}, {class:"form-control w-25", id:"sake-sourness"}) %>
    </div>
    <div class="container mb-3">
      <label class="form-colum w-100">飲みやすさ</label>
      <%= f.collection_select(:easy_id, Easy.all, :id, :name, {}, {class:"form-control w-25", id:"sake-easy"}) %>
    </div>
    <div class="container mb-3">
      <label class="form-colum w-100">総合評価</label>
      <%= f.collection_select(:total_id, Total.all, :id, :name, {}, {class:"form-control w-25", id:"sake-total"}) %>
    </div>
    <div class="container w-100 d-flex justify-content-center"> 
      <%= f.submit '登録' ,class:"width-100 btn btn-light"%>
    </div>
    <% end %>
  </div>
</div>