<header>
  <%= link_to image_tag("header.png", class:"w-100"), root_path %>　<%#最上段画像%>
  <%= link_to(root_path, class: 'd-flex justify-content-center align-items-center text-body') do %> <%#上段ロゴ＆タイトル%>
    <%= image_tag 'title-logo.png' , size: '185x50' , class:"img-fluid"%>
    <h1 class="text-body">僕の私の酒図鑑</h1>
  <% end %>
  <p class="text-muted text-center mt-2">　<%#中段テキスト%>
    <% if user_signed_in?%>
      こんにちは<%=current_user.nickname%>さん。最近美味しいお酒との出会いはありましたか？<br>忘れないうちにメモしておきましょう
    <%else%>
      飲んだことある気がする、飲んでみたら味わったか覚えてない…<br>そんな経験はありますか？飲んで調べて自分だけの酒図鑑を完成させましょう。<br>これで安心ですね。
    <%end%>
  </p>
  <div class="d-flex justify-content-end h-4 item-center my-auto border-bottom"> <%#下段ボタン群%>
    <% if user_signed_in?%>
      <%= link_to "新しい酒を見つけた！",new_sake_path,class:"btn btn-success my-2 mx-3"%>
      <%= link_to "マイページ", "/users/#{current_user.id}", class: "btn btn-primary my-2 mx-3",id: "user-nickname" %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-secondary my-2 mx-3" %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path, class: "btn btn-primary my-2 mx-3" %>
      <%= link_to '新規登録', new_user_registration_path, class: "btn btn-success my-2 mx-3" %>
    <% end %>
  </div>
</header>